services:
  postgres-test:
    image: postgres:15
    environment:
      POSTGRES_DB: test_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5434:5432"
    tmpfs:
      - /var/lib/postgresql/data


# docker-compose -f docker-compose.test.yml up -d