.flex-form{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 100vw;
    height: 17vh;
    max-width: 400px;
    max-height: 500px;
    background-color: transparent;
}

.input-group {
    font-family: 'Open Sans', sans-serif;
    width: 95%;
    height: 20%;
    margin-bottom: 1rem;
    background-color: transparent;
    border: 0px solid transparent;
    font-size: medium;
    border-bottom: 3px solid rgba(108, 117, 125, 0.5);
    &:focus {
        outline: none;
        border-bottom: 3px solid rgba(111, 66, 193, 0.65);
    }
}

button {
    width: 100%;
    height: 40px;
    background-color: rgba(111, 66, 193, 0.65);
    color: #FAFAFA;
    border: none;
    border-radius: 8px;
    font-size: medium;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: rgba(111, 66, 193, 0.85);
    }
}